@font-face {
    font-family: AllerFont;
    src: url('/assets/fonts/Aller.ttf');
    font-size: 30px;
}

body {
	background:#DFE0E0;
}

.nav {
	position:absolute;
	background-color:#73B8F3;
	height:35px;
	width:auto;

	left:0;
	right:0;
	top:0;

	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 1 4px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35);

	z-index:2;
}

.announcement_display {
	-moz-box-shadow: 0 1px 4px #44C4F5;
	-webkit-box-shadow: 0 1 4px #44C4F5;
	box-shadow: 0px 1px 4px #44C4F5;

    height:auto!important;
	z-index:3;
}

#nav_button_bg {
	background-color:#50AEFF;
	position:absolute;
	top:5px;
	left:0;
	right:0;
	width:679px;
	margin-right:auto;
	margin-left:auto;

	border-radius:5px;
}

.button_button {
	cursor:pointer;

	padding:15px;
	margin:15px;

	font-family:Allerfont;
	color:white;
}

input:focus {
	outline:none;
}

#nav-logo {
	height: 30px;
}